<!doctype html>
<head>
  <title>To - Listen • Randomize your next artist</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="assets/base/general.css">
  <link rel="stylesheet" href="assets/components/artist.css">
  <link rel="stylesheet" href="assets/components/to-listen.css">
  <link rel="stylesheet" href="assets/base/foundation.css">
</head>
<body>
  <script type="text/template" id="item-template">
    <input class="toggle" type="checkbox" <%= listened ? 'checked' : '' %>>
    <label><%= name %></label>
    <span class="destroy">✖</span>
  </script>
  <script type="text/template" id="stats-template">
    <div class="artist-count"><%= remaining %> artists left.</div>
    <div class="artist-clear">
      <a class="clear-listened">Clear <%= listened %> listened artists</a>
    </div>
  </script>
  <script type="text/template" id="artist-template">
      <% if(main == true) { %>
        <div class="row main-artist">
      <% } else { %>
        <li class="artist">
      <% } %>
        <img src=<%= artist['image'][3]['#text']%>></img>
        <p>
          <%=artist['name']%>
          <% if(playcount == true) { %>
            Playcount: <%= artist['playcount'] %>
          <% } %>
        </p>
        <% if(artist['match'] != undefined ) { %>
          <meter value=<%=artist['match']%> min=0 max=1></meter>
        <% } %>
      </li>
  </script>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">To - Listen</a></h1>
      </li>
    </ul>
    <ul class="left">
      <div class="row">
        <input type="search" placeholder="Last.fm Username" class="searchfield">
      </div>
    </ul>
  </nav>
  <div class="to-listen">
    <div class="heading-small">To - Listen</div>
  </div>
  <div class='heading'>Top Artists</div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.0/backbone.localStorage-min.js"></script>

  <script type="text/javascript" src="js/models/artist.js"></script>
  <script type="text/javascript" src="js/collections/artists.js"></script>
  <script type="text/javascript" src="js/views/artist_list_view.js"></script>
  <script type="text/javascript" src="js/views/artist_item_view.js"></script>
  <script type="text/javascript" src="js/views/fetch_artists_view.js"></script>
  <script type="text/javascript" src="js/views/artist_stats_view.js"></script>
  <script type="text/javascript" src="js/routers/router.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>