<img src=<%= artist['image'][3]['#text']%>></img>
<p>
  <%= artist['name']%>
  <% if(playcount == true) { %>
    Playcount: <%= artist['playcount'] %>
  <% } %>
</p>
<% if(artist['match'] != undefined ) { %>
  <meter value=<%=artist['match']%> min=0 max=1></meter>
<% } %>